* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}
.attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.attribution {
  font-size: 18px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
main {
    height: 400px;
  width: 240px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 14px;
}
section {
  height: 200px;
  width: calc(100%-20px);
}

section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.text{
    margin-top: 20px;

}
.text p{
        margin-top: 10px;
        text-align: center;

}
.text h3{
    text-align: center;
}
